<div class="container ">
  <div>
    <div class="row">
      <div class="col-4"></div>
        <div class="col-5 jumbotron ">
          <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
  
          <div class="form-group"> 
            
          <% if current_user.image.present? %> 
            <%= image_tag current_user.image.image.url, width:100,height:100 %>
          <% end %>
          </div>

          <div class="form-group">
            <strong><%= f.label :name %></strong><br>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <strong><%= f.label :contact_no %></strong><br>
            <%= f.text_field :cont_no, autofocus: true, autocomplete: "cont_no", class: 'form-control' %>
          </div>

          <div class="form-group">
            <strong><%= f.label :email %></strong><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <strong><%= f.label :password %></strong><br>
            <i class="h6 heading secondary text">(leave blank if you don't want to change it)</i>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form-group">
            <strong><%= f.label :password_confirmation %></strong><br>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>

          <div class="form-group">
          <strong><%= f.label :current_password %></strong><br>
            <i>(we need your current password to confirm your changes)</i>
            <%= f.password_field :current_password, autocomplete: "current-password" , class: 'form-control'%>
          </div>
          
          <div class="form-group">
          <%#= f.label :change_image %><br/>
          <%#= f.file_field :image %>
          </div>

          <div class="form-group">
            <div id='tasks'>  
              <%= f.fields_for :image do |image| %>
                <%= render 'image_fields', :f => image %>
              <% end %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Update",class: 'btn btn-primary ' %>
          </div>
          <% end %><br>

          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>

          <%= link_to "Back", :back ,class: 'btn btn-secondary '%>
        </div>
    </div>
  </div>
</div>